# Statistics and data science

In [46]:
import numpy as np
import pandas as pd
from scipy import stats
titanic = pd.read_csv('titanic.csv') # Example from https://github.com/pandas-dev/pandas/tree/master/doc/data

## Estimates of Location

| Estimates of Location | Robust | Notes                          |
| --------------------- | ------ | -------------------------------|
| Mean                  | N      |                                |
| Weighted mean         | N      |                                |
| Median                | Y      |                                |
| Weighted median       | Y      |                                |
| Trimmed mean          | Y      | used more data which is better |

### Mean

In [47]:
titanic['Age'].mean()

29.69911764705882

### Median

In [48]:
titanic['Age'].median()

28.0

### Trimmed mean

In [49]:
aa = pd.to_numeric(titanic['Age'], errors='coerce')

In [50]:
stats.trim_mean(aa, 0.1)

nan